<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EJBMesInterfase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EJBMesInterfase.Properties.Settings.EJBConnection"
            connectionString="Data Source=TB-AZRSQL01;Initial Catalog=EJBProductionReport;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <EJBMesInterfase.Properties.Settings>
            <setting name="FrequencySec" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="URLKinetic" serializeAs="String">
                <value>https://erp.tydenbrooks.com/KineticPilot/api/v1/</value>
            </setting>
            <setting name="UserKinetic" serializeAs="String">
                <value>EDI</value>
            </setting>
            <setting name="PwdKinetic" serializeAs="String">
                <value>YW5hY3JpczI2MDU=</value>
            </setting>
            <setting name="CompanyID" serializeAs="String">
                <value>TBSPG</value>
            </setting>
        </EJBMesInterfase.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>